<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941106935982-lnlpeud4579vc689ifm59fpdgudhss69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941106935982-lnlpeud4579vc689ifm59fpdgudhss69</string>
	<key>API_KEY</key>
	<string>AIzaSyB7__OMH9Jf3X1lObN8DD8UktEHuVwyqFo</string>
	<key>GCM_SENDER_ID</key>
	<string>941106935982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nagornik.Learn-App</string>
	<key>PROJECT_ID</key>
	<string>learn-app-a9de3</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-app-a9de3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941106935982:ios:d0d2090ad41b02c472d53f</string>
</dict>
</plist>